get_prop(radio, vendor_persist_camera_prop)
allow radio vendor_persist_camera_prop:file getattr;
allow radio vendor_persist_camera_prop:file read;
allow radio vendor_persist_camera_prop:file open; 
allow radio gpuservice:binder { call };
allow radio socket_device:sock_file write;
allow radio system_app_data_file:dir getattr;
